.wrapper {
  display: block;
  width: 100%;
  height: 48px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
}
.start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_btn {
  display: none;
}
.icon {
  font-size: 24px;
}
.logo {
  margin-left: 0;
}
.logo svg {
  width: 110px;
}
.center {
}
.search {
  display: none;
}
.end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    height: 56px;
  }
  .container {
    padding: 0 16px;
  }
  .btn {
    width: 40px;
    height: 40px;
  }
  .menu_btn {
    display: flex;
  }
  .logo {
    margin-left: 16px;
  }
  .search {
    display: block;
  }
  .search input {
    border: 1px solid #ccc;
    width: 500px;
    padding: 0 10px;
    line-height: 38px;
  }
}
